.App {
  text-align: center;
  background-color: rgb(225, 225, 225);
}

.home-container{
  width:80%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  padding-top: 30px;
}

.movie-card{

}
.movie-card>h3{
  margin: 0px;
  text-align: left;
  font-size: 1vw;
  margin-bottom: 2px;
  height: 40px;
}